@charset "UTF-8";
input[type="checkbox"], input[type="radio"] {
  vertical-align: baseline;
}

.form-item {
  margin-bottom: 1em;
}

.form-item.form-type-radio {
  margin-bottom: 0;
}

.container-inline label {
  vertical-align: middle;
}

label {
  cursor: pointer;
}
