@charset "UTF-8";
button, input[type="reset"], input[type="submit"], input[type="button"] {
  padding: 6px 10px 4px;
}

input[type="checkbox"], input[type="radio"] {
  vertical-align: baseline;
}

.form-item {
  margin-bottom: 1em;
}

.form-item.form-type-radio {
  margin-bottom: 0;
}

.form-item.form-type-checkbox {
  margin-bottom: 0;
}

.container-inline label {
  vertical-align: middle;
}

label {
  cursor: pointer;
}
