/* $Id: layout.css,v 1.1.2.4 2010/06/24 23:23:07 grendzy Exp $ */
hr {
  display: none;
}
#content hr {
  display: block;
}

body {
	position: relative;
	font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;
	margin: 0;
}

#body_bottom_bg {
	width: 100%;
	height: 275px;
	position: absolute;
	bottom: 0;
}

/*
 * Global/Resets
 */

	ul {
	margin: 0;
	padding: 0;
}

	li {
		display: block;
		list-style: none;
	}

	a {
		text-decoration: none;	
	}
/*
 * Layout styles adapted from Zen
 */
#page-wrapper {
	width: 975px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

#page {
  min-width: 960px; /* Don't allow the browser to make the site unreadable. */
}

/*
 * Header
 */

#header {
	padding: 20px 0 10px;
	position: relative;
}

#logo {
	float: left;
}

#name-and-slogan {
	margin: 50px 0 0;
	float: left;
	font-weight: bold;
	text-transform: uppercase;
}

#skip-link {
	display: none;
}

#block-menu-menu-secondary-navigation {
	position: absolute;
	top: 20px;
	right: 0;
}

#block-menu-menu-secondary-navigation ul {
}

#block-search-form {
	position: absolute;
	top: 52px;
	right: 0;
}

/*
 * Custom Search
 */

form#search-block-form input.form-search, 
form#search-form div.form-wrapper input.form-search {
	width: 300px;
	padding: 8px 10px;	
	-moz-border-radius: 10px;
	border-radius: 10px;
}

form#search-block-form input.form-submit,
form#search-form div.form-wrapper input.form-submit {
	border: none;
	position: relative;
	top: 0;
	right: 25px;
	text-indent: -9999px;
}


/*
 * Navigation
 */
#navigation {
  //float: left; /* LTR */
  width: 100%;
  margin-left: 0; /* LTR */
  //margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  //height: 2.3em; /* The navigation can have any arbritrary height. We picked one
  that is the line-height plus 1em: 1.3 + 1 = 2.3
  Set this to the same value as the margin-top below. */
}
.with-navigation #content,
.with-navigation #sidebar-first,
.with-navigation #sidebar-second {
  margin-top: 2.3em; /* Set this to the same value as the navigation height above. */
}

nav h2,
.block-menu h2 {
	display: none;
}

#navigation ul /* Primary and secondary links */ {
  text-align: center; /* LTR */
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 45px;
}
#navigation li,
#navigation li.expanded /* A simple method to get navigation links to appear in one line. */ {
  width: 193px;
	float: left; /* LTR */
	margin: 0;
  padding: 0; /* LTR */
	border-right: 1px solid #C4E5F4;
	border-left: 1px solid #72BEE5;
	line-height: 45px;
}

#navigation li.first {
	border-left: none;
} 

#navigation li.last {
	border-right: none;
} 

#navigation li.first a {
	moz-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
} 

#navigation li.last a {
	moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
} 

#navigation a {
	display: block;
	font-size: 18px;
} 

/*
 * Mega-DropDown SubNav
 */

#navigation li.expanded:hover ul.menu {
	display: block;
}

#navigation li.expanded ul.menu {
	width: 100%;
	padding-top: 1px;
	background: none;
	display: none;
	position: absolute;
	left: 0;
	text-align: left;
	z-index: 100;
}
	#navigation li.expanded ul.menu li {
		width: 153px;
		padding-left: 10px;
		position: relative;
		border-left: none;
	}
	
			#navigation li.expanded ul.menu li a {
				padding-bottom: 107px;
			}

			#navigation li.expanded ul.menu li a:hover {	
				text-decoration: underline;
			}
			
				#navigation li.expanded ul.menu li ul.menu {
					padding-top: 0;	
				}

				#navigation li.expanded ul.menu li ul.menu li {
					padding: 10px 0 10px 10px;
					line-height: 12px;
				}

				#navigation li.expanded ul.menu li.last ul.menu li,
			 #navigation li.expanded ul.menu li.last ul.menu li.last {
					border-right: none;
				} 

				#navigation li.expanded ul.menu li ul.menu li.first {
					padding: 15px 0 10px 10px;
				}

				#navigation li.expanded ul.menu li ul.menu li.last {
					padding: 10px 0 20px 10px;
				}

				
					#navigation li.expanded ul.menu li ul.menu a {
						font-size: 12px;
						background: none;
						padding-bottom: 0;
					}

/*
 * First sidebar
 */
#sidebar-first {
  float: left; /* LTR */
  width: 200px;
  margin-left: 0; /* LTR */
  margin-right: -200px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}
#sidebar-first .section {
  margin: 0;
  padding: 0;
}

	#sidebar-first ul.menu {
		width: 180px;
	}
		
		#sidebar-first ul.menu li {
			margin: 0;
			padding: 0;
		}

			#sidebar-first ul.menu li a{
				display: block;
				padding: 9px 0 9px 15px;
				text-transform: capitalize;
				font-size: 18px;
			}

				#sidebar-first ul.menu li ul li a {
					display: block;
					padding: 9px 0 9px 25px;
					text-transform: none;
					font-size: 16px;
				}

					#sidebar-first ul.menu li ul li ul li a {
						padding: 9px 0 9px 35px;
					}

					
/*
 * Content
 */
#content {
  float: left; /* LTR */
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}
#content .section,
.no-sidebars #content .section {
  margin: 0;
  padding: 0;
}
.sidebar-first #content .section {
  padding-left: 200px; /* LTR */ /* The width + left margin of .region-sidebar-first. */
  padding-right: 0; /* LTR */
}
.sidebar-second #content .section {
  padding-left: 0; /* LTR */
  padding-right: 200px; /* LTR */ /* The width + right margin of .region-sidebar-second. */
}
.two-sidebars #content .section {
  padding-left: 200px; /* The width + left margin of .region-sidebar-first. */
  padding-right: 200px; /* The width + right margin of .region-sidebar-second. */
}

/*
 * Second sidebar
 */
#sidebar-second {
  float: right; /* LTR */
  width: 200px;
  margin-left: -200px; /* LTR */ /* Negative value of .region-sidebar-second's width + right margin. */
  margin-right: 0; /* LTR */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}
#sidebar-second .section {
  margin: 0;
  padding: 0;
}

/*
 * Footer
 */

	#footer {
		height: 290px;
	}	

	.breadcrumb {
		height: 48px;
		padding: 0;	
	}

	.breadcrumb a {
		display: block;
		padding: 0 18px;
		float: left;
		line-height: 48px;
		text-align: center;	
	}

	.breadcrumb a:first-child {
		padding: 0 30px;
		text-indent: -9999px;
	}

	#block-menu-menu-secondary-navigation-footer {
		margin: 36px 0 0 18px;	
	}

	#block-menu-menu-secondary-navigation-footer ul {
		
	}

	#block-menu-menu-secondary-navigation li,
	#block-menu-menu-secondary-navigation-footer li {
		display: inline;
	}
	
		#block-menu-menu-secondary-navigation a:hover,
		#block-menu-menu-secondary-navigation-footer a:hover {
			text-decoration: underline;
		}

/*
 * Default Primary Navigation
 */
	ul.primary {
		margin-bottom: 20px;
	}


	ul.primary li a {
		padding: 10px 15px 0px;
	}

	ul.primary li.active a {
		padding: 10px 15px 2px;
	}

	html.js fieldset.collapsible .fieldset-legend {
		padding-left: 15px;
	}
