/** OS stuff **/

@import "base.less";

/* Box editing */
.boxes-box {
  position: relative;
}
.boxes-box-controls {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  font-size: 8px;
  z-index: 99;
}
.boxes-box-controls ul.links {
  margin: 0;
  padding: 0;
}
.boxes-box-controls ul.links {
  li { border: 1px solid #DDD; }
  li.edit {
    padding: 0;
    a { padding: 0 2px; }
    a:link { color: #003366; }
    a:hover {
      background-color: #003366;
      color: white;
    }
  }
  li.cancel {
    border: none;
    a { $link-button; }
  }
}

#boxes-box-form { $clearfix; }
