// See http://compass-style.org/reference/compass/css3/
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/inline-block";
@import "compass/css3/text-shadow";

// See http://compass-style.org/reference/compass/typography/lists/bullets/
@import "compass/utilities/lists/bullets";

// See http://compass-style.org/reference/compass/utilities/
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";
@import "compass/utilities/general/min";

// See http://compass-style.org/reference/compass/typography/
@import "compass/utilities/links/hover-link";
@import "compass/utilities/links/link-colors";
@import "compass/utilities/text/ellipsis";
@import "compass/utilities/text/replacement";

@mixin element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
}

