@import 'compass/css3';

select,
textarea,
input[type="button"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  // Placeholder for increasing font-size
//  font-size: 18px;
}

// Overriding formalize.css button padding because button text is off centered 
button, input[type="reset"], input[type="submit"], input[type="button"] { padding: 6px 10px 4px; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  // Placeholder for adjusting padding after increasing input font-size
//  padding-left: 14px;
//  padding-right: 14px;
}

input[type="checkbox"], input[type="radio"] {
  vertical-align: baseline;
}

.form-item {
  margin-bottom: 1em;
}
.form-item.form-type-radio {
  margin-bottom: 0;
}
.form-item.form-type-checkbox {
  margin-bottom: 0;
}
.container-inline label {
  vertical-align: middle;
}
label {
  cursor: pointer;
}

