// From Skeleton (http://www.getskeleton.com)

/* #Base 960 Grid
================================================== */

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.column, .columns {
  float: left;
  display: inline;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.row { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha       { margin-left: 0; }
.column.omega, .columns.omega       { margin-right: 0; }

/* Base Grid */
.container .one.column              { width: 40px;  }
.container .two.columns             { width: 100px; }
.container .three.columns           { width: 160px; }
.container .four.columns            { width: 220px; }
.container .five.columns            { width: 280px; }
.container .six.columns             { width: 340px; }
.container .seven.columns           { width: 400px; }
.container .eight.columns           { width: 460px; }
.container .nine.columns            { width: 520px; }
.container .ten.columns             { width: 580px; }
.container .eleven.columns          { width: 640px; }
.container .twelve.columns          { width: 700px; }
.container .thirteen.columns        { width: 760px; }
.container .fourteen.columns        { width: 820px; }
.container .fifteen.columns         { width: 880px; }
.container .sixteen.columns         { width: 940px; }

.container .one-third.column        { width: 300px; }
.container .two-thirds.column       { width: 620px; }

/* Offsets */
.container .offset-by-one           { margin-left: 60px;  }
.container .offset-by-two           { margin-left: 120px; }
.container .offset-by-three         { margin-left: 180px; }
.container .offset-by-four          { margin-left: 240px; }
.container .offset-by-five          { margin-left: 300px; }
.container .offset-by-six           { margin-left: 360px; }
.container .offset-by-seven         { margin-left: 420px; }
.container .offset-by-eight         { margin-left: 480px; }
.container .offset-by-nine          { margin-left: 540px; }
.container .offset-by-ten           { margin-left: 600px; }
.container .offset-by-eleven        { margin-left: 660px; }
.container .offset-by-twelve        { margin-left: 720px; }
.container .offset-by-thirteen      { margin-left: 780px; }
.container .offset-by-fourteen      { margin-left: 840px; }
.container .offset-by-fifteen       { margin-left: 900px; }

/* Push and pull */
.push-by-one, .pull-by-one,
.push-by-two, .pull-by-two,
.push-by-three, .pull-by-three,
.push-by-four, .pull-by-five,
.push-by-six, .pull-by-six,
.push-by-seven, .pull-by-seven,
.push-by-eight, .pull-by-eight,
.push-by-nine, .pull-by-nine,
.push-by-ten, .pull-by-ten,
.push-by-eleven, .pull-by-eleven,
.push-by-twelve, .pull-by-twelve,
.push-by-thirteen, .pull-by-thirteen,
.push-by-fourteen, .pull-by-fourteen,
.push-by-fifteen, .pull-by-fifteen,
.push-by-sixteen, .pull-by-sixteen {
  position: relative;
}

/* Push */
.container .push-by-one           { left: 60px; }
.container .push-by-two           { left: 120px; }
.container .push-by-three         { left: 180px; }
.container .push-by-four          { left: 240px; }
.container .push-by-five          { left: 300px; }
.container .push-by-six           { left: 360px; }
.container .push-by-seven         { left: 420px; }
.container .push-by-eight         { left: 480px; }
.container .push-by-nine          { left: 540px; }
.container .push-by-ten           { left: 600px; }
.container .push-by-eleven        { left: 660px; }
.container .push-by-twelve        { left: 720px; }
.container .push-by-thirteen      { left: 780px; }
.container .push-by-fourteen      { left: 840px; }
.container .push-by-fifteen       { left: 900px; }

/* Pull */
.container .pull-by-one           { left: -60px; }
.container .pull-by-two           { left: -120px; }
.container .pull-by-three         { left: -180px; }
.container .pull-by-four          { left: -240px; }
.container .pull-by-five          { left: -300px; }
.container .pull-by-six           { left: -360px; }
.container .pull-by-seven         { left: -420px; }
.container .pull-by-eight         { left: -480px; }
.container .pull-by-nine          { left: -540px; }
.container .pull-by-ten           { left: -600px; }
.container .pull-by-eleven        { left: -660px; }
.container .pull-by-twelve        { left: -720px; }
.container .pull-by-thirteen      { left: -780px; }
.container .pull-by-fourteen      { left: -840px; }
.container .pull-by-fifteen       { left: -900px; }

