// From Skeleton (http://www.getskeleton.com)

/* #Base 960 Grid
================================================== */

.container { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.column, .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha       { margin-left: 0; }
.column.omega, .columns.omega       { margin-right: 0; }

/* Base Grid */
.container .one.column              { width: 40px;  }
.container .two.columns             { width: 100px; }
.container .three.columns           { width: 160px; }
.container .four.columns            { width: 220px; }
.container .five.columns            { width: 280px; }
.container .six.columns             { width: 340px; }
.container .seven.columns           { width: 400px; }
.container .eight.columns           { width: 460px; }
.container .nine.columns            { width: 520px; }
.container .ten.columns             { width: 580px; }
.container .eleven.columns          { width: 640px; }
.container .twelve.columns          { width: 700px; }
.container .thirteen.columns        { width: 760px; }
.container .fourteen.columns        { width: 820px; }
.container .fifteen.columns         { width: 880px; }
.container .sixteen.columns         { width: 940px; }

.container .one-third.column        { width: 300px; }
.container .two-thirds.column       { width: 620px; }

/* Offsets */
.container .offset-by-one           { margin-left: 60px;  }
.container .offset-by-two           { margin-left: 120px; }
.container .offset-by-three         { margin-left: 180px; }
.container .offset-by-four          { margin-left: 240px; }
.container .offset-by-five          { margin-left: 300px; }
.container .offset-by-six           { margin-left: 360px; }
.container .offset-by-seven         { margin-left: 420px; }
.container .offset-by-eight         { margin-left: 480px; }
.container .offset-by-nine          { margin-left: 540px; }
.container .offset-by-ten           { margin-left: 600px; }
.container .offset-by-eleven        { margin-left: 660px; }
.container .offset-by-twelve        { margin-left: 720px; }
.container .offset-by-thirteen      { margin-left: 780px; }
.container .offset-by-fourteen      { margin-left: 840px; }
.container .offset-by-fifteen       { margin-left: 900px; }

/* Push */
.container .push-by-one           { margin-left:  60px; margin-right: -900px; }
.container .push-by-two           { margin-left: 120px; margin-right: -840px; }
.container .push-by-three         { margin-left: 180px; margin-right: -780px; }
.container .push-by-four          { margin-left: 240px; margin-right: -720px; }
.container .push-by-five          { margin-left: 300px; margin-right: -660px; }
.container .push-by-six           { margin-left: 360px; margin-right: -600px; }
.container .push-by-seven         { margin-left: 420px; margin-right: -540px; }
.container .push-by-eight         { margin-left: 480px; margin-right: -480px; }
.container .push-by-nine          { margin-left: 540px; margin-right: -420px; }
.container .push-by-ten           { margin-left: 600px; margin-right: -360px; }
.container .push-by-eleven        { margin-left: 660px; margin-right: -300px; }
.container .push-by-twelve        { margin-left: 720px; margin-right: -240px; }
.container .push-by-thirteen      { margin-left: 780px; margin-right: -180px; }
.container .push-by-fourteen      { margin-left: 840px; margin-right: -120px; }
.container .push-by-fifteen       { margin-left: 900px; margin-right:  -60px; }

/* Pull */
.container .pull-by-one           { margin-right: -60px; }
.container .pull-by-two           { margin-right: -120px; }
.container .pull-by-three         { margin-right: -180px; }
.container .pull-by-four          { margin-right: -240px; }
.container .pull-by-five          { margin-right: -300px; }
.container .pull-by-six           { margin-right: -360px; }
.container .pull-by-seven         { margin-right: -420px; }
.container .pull-by-eight         { margin-right: -480px; }
.container .pull-by-nine          { margin-right: -540px; }
.container .pull-by-ten           { margin-right: -600px; }
.container .pull-by-eleven        { margin-right: -660px; }
.container .pull-by-twelve        { margin-right: -720px; }
.container .pull-by-thirteen      { margin-right: -780px; }
.container .pull-by-fourteen      { margin-right: -840px; }
.container .pull-by-fifteen       { margin-right: -900px; }
.container .pull-by-sixteen       { margin-right: -960px; }

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container { width: 768px; }
  .container .column,
  .container .columns { margin-left: 10px; margin-right: 10px;  }
  .column.alpha, .columns.alpha       { margin-left: 0; margin-right: 10px; }
  .column.omega, .columns.omega       { margin-right: 0; margin-left: 10px; }

  .container .one.column              { width: 28px;  }
  .container .two.columns             { width: 76px; }
  .container .three.columns           { width: 124px; }
  .container .four.columns            { width: 172px; }
  .container .five.columns            { width: 220px; }
  .container .six.columns             { width: 268px; }
  .container .seven.columns           { width: 316px; }
  .container .eight.columns           { width: 364px; }
  .container .nine.columns            { width: 412px; }
  .container .ten.columns             { width: 460px; }
  .container .eleven.columns          { width: 508px; }
  .container .twelve.columns          { width: 556px; }
  .container .thirteen.columns        { width: 604px; }
  .container .fourteen.columns        { width: 652px; }
  .container .fifteen.columns         { width: 700px; }
  .container .sixteen.columns         { width: 748px; }

  .container .one-third.column        { width: 236px; }
  .container .two-thirds.column       { width: 492px; }

  /* Offsets */
  .container .offset-by-one           { padding-left: 48px;  }
  .container .offset-by-two           { padding-left: 96px; }
  .container .offset-by-three         { padding-left: 144px; }
  .container .offset-by-four          { padding-left: 192px; }
  .container .offset-by-five          { padding-left: 288px; }
  .container .offset-by-six           { padding-left: 336px; }
  .container .offset-by-seven         { padding-left: 348px; }
  .container .offset-by-eight         { padding-left: 432px; }
  .container .offset-by-nine          { padding-left: 480px; }
  .container .offset-by-ten           { padding-left: 528px; }
  .container .offset-by-eleven        { padding-left: 576px; }
  .container .offset-by-twelve        { padding-left: 624px; }
  .container .offset-by-thirteen      { padding-left: 672px; }
  .container .offset-by-fourteen      { padding-left: 720px; }
  .container .offset-by-fifteen       { padding-left: 900px; }
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container { width: 300px; }
  .columns, .column { margin: 0; }

  .container .one.column,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column  { width: 300px; }

  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen { padding-left: 0; }

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container { width: 420px; }
  .columns, .column { margin: 0; }

  .container .one.column,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column { width: 420px; }
}
